<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tdc.edu.vn.quanly_dathang_xemay">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icon_xemay"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/icon_xemay"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        >
<!--        android:theme="@style/AppTheme.NoActionBar"-->

        <activity android:name=".Waiting_Shop_Detail"></activity>
        <activity android:name=".DatHangShop" />
        <activity android:name=".Add_Edit_ddh" />
        <activity android:name=".Animation_Car">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Add_Edit_Xe" />
        <activity android:name=".Ctyxe_new" />
        <activity android:name=".Music">

        </activity>
        <activity
            android:name=".menu_admin"
            android:label="@string/title_activity_menu_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity" />
        <activity android:name=".EditCtyXe" />
    </application>

</manifest>